body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    letter-spacing:1px;
    position: relative;
}

b{
    color:royalblue;
    font-size:1.1rem;
}
center {
    position:sticky;
    top:0rem;
    background-color:rgb(122, 7, 122);
}

center h1{
    color:white;

}
.container2{
    width:80%;
    margin:auto;
}
.container2 p{
    text-align:justify;
}
.chat{
    position:fixed;
    bottom:2rem;
    right:2rem;
}
.bi-chat{
   width:3rem;
   height:3rem;
   color:blue;
   cursor: pointer;
  
}
.bi-chat:hover{
    width:3.5rem;
    height:3.5rem;
    color:purple;
}
